*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#canvas{
    border: 1px solid black;
}
h1{
    text-align: center;
    margin: 6px;
}