*{
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}
body{
    background-color: rgb(188, 134, 250);
}
#canvas{
    background-color: aliceblue;
}